@mixin button ($w, $h) {
    width: $w;
    height: $h;
    border: none;
    border-radius: 40px;
    text-align: center;
}

@mixin text_style ($fs, $fw, $lh,){
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    
}
@mixin ava_pic ($w, $l, $c) {
    width: $w;
    length: $l;
    border-radius: 40px;
    text-align: center;
}
